.modal-body button.close{margin-top:-2px}.popup-header{padding-top:45px;text-align:center}.popup-header .h3{padding-bottom:20px}.popup-header .h5{padding-bottom:60px}.popup-content{text-align:center}.popup-content-block{padding-bottom:30px}.popup-footer{text-align:center}.k12-popup-img{margin-bottom:15px}
/*
     FILE ARCHIVED ON 06:06:47 Jan 01, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:27:31 Feb 21, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.02
  captures_list: 209.614
  RedisCDXSource: 0.815
  LoadShardBlock: 33.201 (3)
  exclusion.robots: 142.999
  xauthn.identify: 80.848
  PetaboxLoader3.resolve: 130.14 (2)
  load_resource: 186.039 (2)
  xauthn.chkprivs: 61.714
  PetaboxLoader3.datanode: 53.916 (5)
  exclusion.robots.policy: 142.984
  CDXLines.iter: 27.402 (3)
*/
